body {
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

#banner {
    background-image: url("../img/banner.png");
    min-height: 400px;
    width: 100%;
    background-repeat: no-repeat;
}

.myNavbar {
    background-color: #f3ad78;
}

.myNavbar .navbar-brand,
.myNavbar  .navbar-toggler,
.myNavbar .nav-item {
    color: black;
}

.myNavbar .nav-item:hover {
    color: #d65800;
}

.myNavbar .navbar-brand:hover {
    color: #d65800;
}

.bannerText {
    color: whitesmoke;
    font-weight: bold;
}

.infoCards {
    margin-top: 2vw;
}

.card {
    height: 100%;
}

.page-link {
    color: orange;
    font-weight: bold;
}

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#novinky {
    margin-top: 1vw;
}

.adminControls {
    text-decoration: none;
    color: #d6701a;
}

.adminControls:hover {
    text-decoration: none;
    color: orange;
    cursor: pointer;
}

.submitButton {
    font-size: 20px;
    border-radius: 5px;
    background-color: orange;
}

.outlineButton {
    border: 1px solid black;
}

.outlineButton:hover {
    box-shadow: 0 0 5px orange;
}

.outlineButton:focus {
    box-shadow: 0 0 5px orange;
}

.colorBlack {
    color: black;
    font-size: 16px;
}

.myEditBookIMG
{
    height: 300px;
    width: 200px;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media screen and (max-width: 480px) {
    .bannerText {
        font-size: 4rem;
    }
    .hideWhenSmall {
        display: none;
    }
}