#priceTable td, #priceTable th {
    border: 1px solid #DDDDDD;
    padding: 8px;
}

#priceTable tr:nth-child(even) {
    background-color: #CAD2DB;
}

#priceTable tr:hover {
    background-color: #B4BECB;
}

#priceTable th {
    padding-top: 12px;
    background-color: orange;
    color: black;
}

#priceTableDisabled td, #priceTableDisabled th {
    border: 1px solid #DDDDDD;
    padding: 8px;
}

#priceTableDisabled th {
    padding-top: 12px;
    text-align: left;
    background-color: orange;
    color: black;
}

.tableButton {
    font-size: 21px;
    border-radius: 5px;
    background-color: orange;
}

@media screen and (max-width: 768px) {
    .hideWhenSmall {
        display: none;
    }
}